.chef-page {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    background-color: #f0c6d1;
}

.chef-info {
   margin: 12px;
   background-color: #d6456b;
}

.crud-info {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.new-recipe {
    display: flex;
}