.modal-content {
    background-color: #d6456b;
}

.chef-button {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    margin: 6px;
    transition: all 150ms ease-in-out 0s;
    :hover {
        color: rgb(61, 79, 88);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(93, 108, 116);
    }
    flex: 1; 
}

.tall {
    flex: auto;
}

.div-buttons {
    display: flex;
    justify-content: space-between;
}

.additional-inputs {
    display: flex; 
    flex-direction: column; 
}

.additional-input {
    font-size: 14px;
    height: 25px;
    border-radius: 4px;
    margin: 7px; 
}

.close {
    background-color:rgb(136, 136, 231);
    float: right;
}