.fridge-page {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    background-color: #f0c6d1;
}

.diy-fridge .display-component {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.diy-fridge {
    background-color: #cb4064;
    color: white;
    overflow-y: scroll; 
    overflow-x: hidden;
}

.display-component {
    overflow-y: scroll; 
    overflow-x: hidden;
}

.searchbox {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    transition: box-shadow 0.3s ease;
    border: #cb4065b9;
}

.searchbox:focus {
    outline: none;
    box-shadow: 0 0 5px #333;
}

.sub-title {
    text-align: center;
}

.mini-ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 1rem;
}

.select-ingredient {
    font-family: Helvetica, system-ui, Avenir, sans-serif;
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

.select-ingredient:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(230, 188, 199);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}